/* Ini CSS External */
/* HEADER */
body{
    margin: 0;
    background-color: #FFF2DB;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00879E;
    width: 100;
    position: fixed;
    top: 0;
    width: 100%;
}
logo{
    padding: 10px;
    display: flex;
    align-items: center;
}
logo > a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}
.logo-company{
    height: 50px;
    width: 50px;
    background-image: url(../assets/icon.png);
    background-size: cover;
    border-radius: 50%;
    
}

.body-header-nav{
    display: flex;
    padding: 10px;
}
.body-header-nav a:hover{
    background-color: #FFF2DB;
    color: #003092;
}

main > header{
    text-align: center;
}
nav > a {
    border: 1px solid;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.no-border-radius{
    border-radius: 0px;
}
.no-border-radius-right{
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
}
.no-border-radius-left{
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
}
.horizontal-row{
    border: 5px solid white;
    border-radius: 5px;
    width: 95%;
}

/* MAIN */
#top{
    margin-top: 90px;
    color: #003092;
}
.main-content{
    display: flex;
    gap: 24px;
}
.main-container{
    height: 400px;
    flex: 2;
    align-content: center;
    text-align: center;
    background-color: #003092;
    border-radius: 3%;
}
.mc-contactus{
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-right: 24px;
}
#CU-header{
    display: flex;
    margin-left: 24px;
    color: white;
}
.banner{
    flex: 3;
    margin-left: 24px;
}
.main-banner{
    height: 300px;
    background-image: url(../assets/BP42.png);
    background-size: cover;
    background-position: center;
}
.banner-img-1{
    background-image: url(../assets/bali.jpg);
}
.banner-img-2{
    background-image: url(../assets/jakarta.jpg);
}
.banner-img-3{
    background-image: url(../assets/jogja.jpg);
}
.banner-img-4{
    background-image: url(../assets/lombok.jpg);
}
#formContactUs{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
#formContactUs > div{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    margin-left: 24px;
    align-items: flex-start;
    font-size: 15px;
    color: white;
}
#formContactUs > div > input{
    width: 100%;
    font-size: 15px;
    border-radius: 3%;
}
#formContactUs > div > select{
    width: 100%;
    font-size: 15px;
}
#our-package-section > article{
    height: 300px;
    align-content: center;
    text-align: center;
}

#callus-section > header{
    height: 100px;
    align-content: center;
    text-align: center;
    background-color: #FFAB5B;
}
#callus-section > article{
    height: 300px;
    align-content: center;
    text-align: center;
}
#our-package-section > header{
    height: 100px;
    align-content: center;
    text-align: center;
    background-color: #FFAB5B;
}
footer{
    text-align: center;
}

/* rsponsive design */
@media only screen and (max-width: 480px){
    .main-content{
        flex-direction: column ;
    }
}